.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_aboutus {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 510px;
  align-items: center;
  justify-content: center;
}
.home_aboutus_image {
  margin-right: 100px;
}
#homecard-btn {
  color: white !important;
  background-color: #28da6c !important;
}
.home_aboutus_text h1 {
  font-size: 46px;
  font-family: "Lora", sans-serif;
  font-weight: bold;
  margin-bottom: 22px;
}
.home_aboutus_text h2 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}
.home_aboutus_text p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}
.home_aboutus_text {
  word-wrap: break-word;
}
.ourschemes {
  margin-top: 100px;
  height: 650px;
  text-align: center;
  color: #28da6c;
}
.ourschemes h1{
  margin-bottom: 100px;
  font-family: 'Lato';
  font-weight: bold;
}
.our_schemes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1140px;
  margin-bottom: 50px;
}
.ourschemes_card {
  font-size: 21px;
  font-family: "Lato";
  height: 330px;
  width: 255px;
  color: #28da6c;
  font-weight: bold;
  box-shadow: 0 2px 14px 0 rgb(0 0 0 / 32%)
}
.ourschemes_card img {
  width: 255px;
  height: 211px;
  margin-bottom: 30px;
}
#scheme-btn{
  border: #28da6c solid 2px !important;
}
