.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.home_aboutus {
  display: flex;
  flex-direction: row;
  width: 1320px;
  height: 510px;
  align-items: center;
  justify-content: center;
}
.home_aboutus_image {
  margin-right: 100px;
}
#homecard-btn {
  color: white !important;
  background-color: #28da6c !important;
}
.home_aboutus_text h1 {
  font-size: 46px;
  font-family: "Lora", sans-serif;
  font-weight: bold;
  margin-bottom: 22px;
}
.home_aboutus_text h2 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}
.home_aboutus_text p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.ourschemes {
  margin-top: 100px;
  height: 650px;
  text-align: center;
  color: #28da6c;
}
.ourschemes h1{
  margin-bottom: 100px;
  font-family: 'Lato';
  font-weight: bold;
}
.our_schemes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1140px;
  margin-bottom: 50px;
  
}
.ourschemes_card {
  font-size: 21px;
  font-family: "Lato";
  height: 330px;
  width: 255px;
  color: #28da6c;
  font-weight: bold;
  box-shadow: 0 2px 14px 0 rgb(0 0 0 / 32%)
}
.ourschemes_card img {
  width: 255px;
  height: 211px;
  margin-bottom: 30px;
}
#scheme-btn{
  border: #28da6c solid 2px !important;
  background-color: white !important;
  color: #28da6c;
}
#scheme-btn:hover{
  color: white;
  background-color: #28da6c !important;
}

.work-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: 421px;
  flex: none;
  order: 3;
  flex-grow: 0;
  justify-content: center;
}
.work-card-image {
  text-align: center;
}
.work-card-image img {
  width: 278px;
  height: 323px;
}
.work-card-image h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.01em;
}
.work-card-image h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(72, 185, 117, 0.98);
}

@media screen and (max-width:1024px) {

  .home_aboutus_text{
    width: 400px;
  }
  .home_aboutus{
    width: 1000px;
  }
  .about-img{
    width: 400px;
  }
  .ourschemes_card{
    margin-bottom: 30px ;
  }


  


  .our_schemes{
    width: 1000px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }


  
}


@media screen and (max-width:768px) {
  .home_aboutus{
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 200px;
  }
  .our_schemes{
    width: 700px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }

  .ourschemes{
    margin-top: 300px;
    margin-bottom: 300px;
  }

  .ourschemes_card{
    margin-bottom: 30px;
  }

  .about-img{
    width: 700px;
    margin-left: 7%;

  }

  /* .home_aboutus_image{
    width: 700px;
  } */

  .home_aboutus_text{
    width: 700px;
  }
  
}


@media screen and (max-width:425px) {

 
  .home_aboutus{
    display: flex;
    flex-direction: column;
    width: 390px;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 100px;
   
  }

  .about-img{
    width: 390px;
    margin-left: 12%;
    height: 300px;

  }
  .home_aboutus_text{
    width: 390px;
  }

   /* .home_aboutus_image{
    width: 400px;
  } */

  .our_schemes{
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }
  .ourschemes{
    margin-bottom: 1100px;
    margin-top: 400px;
  }
}

@media screen and (max-width:375px) {

  .home_aboutus{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 200px;
  }
  
  .about-img{
    width: 350px;
    margin-left: 14%;

  }

  .home_aboutus_text{
    width: 350px;
  }

  .our_schemes{
    width: 350px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    
  }

  .ourschemes{
    margin-bottom: 1100px;
    margin-top: 400px;
  }
  
}


@media screen and (max-width:320px){
  .home_aboutus{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 200px;
   
  }

  .about-img{
    width: 300px;
    margin-left: 17%;

  }

  .home_aboutus_text{
    width: 300px;
  }

  .our_schemes{
    width: 300px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    
  }

  
}