.sponsor-card {
  margin-top: 100px; 
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sponsor-card h1 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #28da6c;
  font-family: "Lato";
  margin-top: 50px;
  margin-bottom: 50px;
}
.sponsor {
  width: 100%;
}
.sponsor-card-images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-evenly;
  padding: 20px;
}
.image {
  width: 285px;
  height: 150px;
  margin-bottom: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .sponsor-card-images {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin-bottom: 250px;
  }
}

@media screen and (max-width: 425px) {
  .sponsor-card-images {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-top: 40px;
  }

  .sponsor-card {
    margin-bottom: 600px;
  }
}

@media screen and (max-width: 375px) {
  .sponsor-card-images {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 320px) {
  .sponsor-card {
    margin-bottom: 800px !important;
  }
}
