.aboutus_div {
  background-color: whitesmoke;
}

.display_img{
  display: none;
}

.aboutus-font {
  font-size: 20px;
}
.cart {
  width: 80%;
}
.cart2 {
  width: 35%;
}
.founder-txt h1 {
  font-size: 33px;
  font-family: "Lato";
  font-weight: bold;
  padding-bottom: 10px;
}
.founder-txt h2 {
  font-size: 16px;
  font-family: "Lato";
  font-weight: bold;
}
.founder-txt p {
  font-size: 18px;
  font-family: "Lato";
  color: white;
  font-weight: bold;
}
.founder-txt {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 400px;
  z-index: 20;
  color: white;
  align-items: right;
}
.team-arr {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap !important;
  padding-top: 50px;
}
.team {
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
}
.center {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-arr {
  background-color: rgb(40, 218, 108);
  border: 1px solid rgb(40, 218, 108);
  font-size: 15px;
  padding: 5px;
  color: white;
}
.long-btn {
  background-color: white;
  border: 1px solid white;
  font-size: 15px;
  padding: 5px;
}
.spc1 {
  background-color: whitesmoke;
  padding-bottom: 100px;
  /* padding-top: 100px; */
  text-align: center;
}
.red {
  margin: auto;
  width: 30%;
  border-bottom: 3px solid #000487;
  padding: 10px;
  margin-bottom: 20px;
}

.red1 {
  margin: auto;
  width: 50%;
  border-bottom: 3px solid #000487;
  padding: 10px;
  margin-bottom: 20px;
}
.text-arr {
  line-height: 0.5;
  margin-top: 20px;
  margin-bottom: 50px;
}
.team-name {
  font-size: 12px;
  font-weight: bold;
}
.history {
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  margin-bottom: 50px;
}
.history_image {
  display: flex;
  justify-content: center;
}
.history_text {
  padding: 70px;
  text-align: center;
  margin-bottom: 100px;
}
.aboutus_content {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
  background-color: white;
  padding-bottom: 100px;
}
.ourvision {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 50px;
  text-align: center;
  align-items: center;
}
.ourmission {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 50px;
  text-align: center;
  align-items: center;
}
.h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold !important;
  color: #28da6c !important;
}
.h3 {
  font-size: 20px !important;
  font-weight: bold !important;
}
.board-members{
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  text-align: center;
  font-size: 15px;
  padding-top: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.board-holder{
  background-color: white;
}

.x_holder{
  display: flex;
  flex-direction: row;
}

.x{
  width: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;

}

.y{
  width: 50%;
  margin-left: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
}

.founder_font{
  text-align: center;
}

.head-color1{
  color: #28da6c;
  border-left: 4px solid #000487;
}

.founder_spc{
  margin-left: 10px;
}

.x_holder{
  margin-top: 50px;
}

.responsive1{
 
    width: 100%;
    height: auto;

}

@media screen and (max-width: 1920px) {
  .team {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media screen and (max-width: 1366px) {
  .cart2 {
    width: 60%;
    margin-right: 5%;
  }

  .team {
    margin-left: 13%;
    margin-right: 13%;
  }
}
@media screen and (max-width: 768px) {
  .aboutus-font {
    font-size: 15px;
  }

  .aboutus_content {
    margin-left: 10%;
    margin-right: 10%;
  }
  .x_holder{
  width: 687px;
  }

  .text-holder{
    margin-top: 500px;
  }

  .head-color1 {
    color: #28da6c;
    border-left: 4px solid #000487;
    position: relative;
    top: -25px;
  }

  .text_hold_2{
    position: relative;
    bottom: 21px;
  }
 




  h1 {
    font-size: 25px !important;
  }

  .founder-txt {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 360px;
    z-index: 20;
    color: white;
    margin-right: 10%;
  }

  .cart {
    width: 65%;
  }
  .cart2 {
    width: 35%;
  }
}
@media screen and (max-width: 425px) {
  .cart {
    width: 0% !important;
  }
  .cart2 {
    width: 400px;
    text-align: left;
    margin-left: 12px;
  }

  .banner-head{
    height: 200px;
  }

  .history_text {
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
  }

  .red {
    margin: auto;
    width: 80%;
    border-bottom: 3px solid #000487;
    margin-bottom: 10px;
  }

  .x_holder{
    width: 400px;
    }

    .y{
      margin-left: 0px;
      width: 95%;
      margin-top: 20px;
    }

    .x{
      width: 95%;
    }

    .text_hold_2{
      width: 390px;
    }


  .team-p{
    width: 90%;
    margin-left: 5%;
    
  }

  .x_holder{
    display: flex;
    flex-direction: column;
  }


  .responsive1{
    position: relative;
    top: 35px;
  }

  .display_img2{
    display: none;
  }

  .display_img{
    display: block;
    height: 300px;
    width: 250px;
    margin-bottom: 50px;
    position: relative;
    right: 20px;
    
  }

  .head-color1{
    width: 300px;
  }
}

.ourfounder{
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.founder-holder{
  display: flex;
  flex-direction: row;
}

.text-holder{
  width: 50%;
  margin-left: 5%;
  margin-top: 20px;
}

.img-holder{
  width: 30%;
  margin-left: 10%;
}

.sttt{
  color: #28da6c;
}

@media screen and (max-width: 375px) {
  .cart {
    width: 0% !important;
  }
  .cart2 {
    width: 350px;
    text-align: left;
    margin-left: 12px;
  }



  .hist_img{
    width: 150px;
    height: 150px;
  }

  .x_holder{
    width: 100px;
    }

    .text_hold_2{
      width: 100px;
    }
  .responsive1{
    height: 200px;
  }




}

@media screen and (max-width: 325px) {
  .cart {
    width: 0% !important;
  }

  .cart2 {
    width: 300px;
    text-align: left;
    margin-left: 12px;
  }
  .staff-img {
    width: 200px;
  }

  .x_holder{
    width: 100px;
    }

    .text_hold_2{
      width: 100px;
    }

    .display_img{
    
      margin-bottom: 50px;
      position: relative;
      right: -2px;
      
    }

    .y{
      margin-left: 0px;
      width: 90%;
      margin-top: 20px;
    }
  
    .x{
      width: 90%;
    }
  

  
}

@media screen and (max-width: 425px) {
  .aboutus_content {
    display: flex;
    flex-direction: column;
  }

  .ourvision {
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
  }

  .ourmission {
    width: 80%;
    text-align: center;
  }

  .history {
    width: 80%;
    margin-left: 10%;
  }
}

