.hold1{
    width: 160px !important;
    overflow: auto !important; 
    height: 100px !important;

}

.hold2{
    width: 160px !important;
    overflow: auto !important; 
   

}

.table-holder1{
    position: relative;
    right: 70px !important;
    
}

.mv3{
    position: relative;
    right: 95px;
}

.post1{
    position: relative;
    left: 70px;
}



