/* 



td{
    width: 300px !important;
} */


/* .bb{
    width: 180px !important;
    overflow: auto !important; 
    height: 100px !important;
} */



.table-pos{
    position: relative;
}

.table{
    margin-bottom: 0 !important;
    margin-left: 5%;
}
.image-spc{
    display: flex;
    flex-direction: row !important;
}

.add_img_holder{
    margin-top: 10px;
    

}

.add_img{
    width: 100%;
    border: 1px solid green;
    background-color: white;
}